@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

.wrapper {
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
}
#darkText {
    color: hsl(229, 25%, 31%);
}
#scoreText {
    color: hsl(229, 64%, 46%)
}
h1 {
    text-shadow: 0 3px 0 hsl(217, 16%, 45%);
    color: white;
}
.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
#topDiv {
    border: 2px solid lightblue;
    border-radius: 1em;
    width:80%;
    display: flex;
    top: 0;
    margin-left:10%;
    justify-content: space-around;
}
.selectWrap {
    display: flex;
    justify-content: center;
    background-image: url('./static/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
}
.resultsWrap {
    display: flex;
    justify-content: center;
}
#rulesButton {
    width: 8%;
    border: 1px solid lightblue;
    border-radius: .25em;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 88%;
    margin-bottom: 1.5%;
}
.hand {
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    padding: 3.5em;
    border-radius: 50%;
    box-shadow: 0 -7.5px 9px  hsl(217, 16%, 45%);
}
#rock {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-radius: 50%;
    padding: 2.5%;
    margin:10%;
    box-shadow: 0 5px 5px rgb(41, 41, 41);
}
#scissor {
    background-image: linear-gradient(hsl(39, 89%, 49%),hsl(40, 84%, 53%));
    border-radius: 50%;
    padding: 2.5%;
    margin:10%;
    box-shadow: 0 5px 5px rgb(41, 41, 41);
}
#paper {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-radius: 50%;
    padding: 2.5%;
    margin:10%;
    box-shadow: 0 5px 5px rgb(41, 41, 41);
}

