@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

.wrapper {
    background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    color: white;
}
h2 {
    color: white;
}
#darkText {
    color: hsl(229, 25%, 31%);
}
#scoreText {
    color: hsl(229, 64%, 46%);
}
#topDiv {
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 1em;
    width:60%;
    display: flex;
    margin-top: 2%;
    margin-left:20%;
    justify-content: space-around;
}
#topDiv div img {
    margin-top: 25%;
}
.selectBkg {
    background-image: url('./static/bg-triangle.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}
.selectWrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 25%;
}
.LoadWrap {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-left: 25%;
    justify-content: space-around;
}
.resultsWrap {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin-left: 10%;
}
.resultsWrap #rock {
    padding: 5.5%;
}
.resultsWrap #paper {
    padding: 5.5%;
}
.resultsWrap #scissor {
    padding: 5.5%;
}
.resultsWrap #rock:hover {
    cursor: default;
    box-shadow: none;
}
.resultsWrap #paper:hover {
    cursor: default;
    box-shadow: none;
}
.resultsWrap #scissor:hover {
    cursor: default;
    box-shadow: none;
}
#rulesButton {
    width: 7.5%;
    border: 1px solid hsl(217, 16%, 45%);
    border-radius: .25em;
    color: white;
    font-family: 'Barlow Semi Condensed', sans-serif;
    margin-left: 88%;
    margin-bottom: 1.5%;
}
#rulesButton:hover {
    border: 2px solid lightblue;
    cursor: pointer;
}
.hand {
    display: flex;
    justify-content: space-evenly;
    background-color:white;
    padding: 3.25em;
    border-radius: 50%;
    box-shadow: 0 7.5px 9px  hsl(217, 16%, 45%) inset;
}
#rock {
    background-image: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    border-radius: 50%;
    padding: 2.5%;
    margin:5%;
    box-shadow: 0 7.5px 5px hsl(217, 16%, 26%);
    display: flex;
}
#rock:hover {
    cursor: pointer;
    box-shadow: 0 1px 15px whitesmoke;
}
#scissor {
    background-image: linear-gradient(hsl(39, 89%, 49%),hsl(40, 84%, 53%));
    border-radius: 50%;
    padding: 2.5%;
    margin:5%;
    box-shadow: 0 7.5px 5px hsl(217, 16%, 26%);
    display: flex;
}
#scissor:hover {
    cursor: pointer;
    box-shadow: 0 1px 15px whitesmoke;
}
#paper {
    background-image: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    border-radius: 50%;
    padding: 2.5%;
    margin:5%;
    box-shadow: 0 7.5px 5px hsl(217, 16%, 26%);
    display: flex;
}
#paper:hover {
    cursor: pointer;
    box-shadow: 0 1px 15px whitesmoke;
}
#scoreTracker {
    background-color: lightgrey;
    border: 1px solid lightblue;
    padding: 10px;
    margin: 2.5%;
    border-radius: .5em;
    border: 2px solid hsl(217, 16%, 45%);
    width: 15%;
}
.rulesBkg {
    background-color: white;
    background-image: url('./static/image-rules.svg');
    border-radius: 1em;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 75%;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left:37.5%;
    top: 35%;
    bottom: 0;
    right: 0;
    height: 62.5%;
    width: 25%;
    border: 2px solid black;
}
.rulesBkg div {
    padding: 5%;
}

.rulesBkg img:hover {
    cursor: pointer;
    box-shadow: 0 1px 15px rgb(94, 94, 94);
    border: 1px solid black;
}
#winLoseDiv {
    width: 25%;
}
#playAgainButton {
    width: 100%;
    height: 35%;
    border-radius: .5em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    letter-spacing: .2rem;
}
.playersChoice {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pcChoice {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.select {
    display: block;
}
.result {
    display: none;
}
#mobileWinLoseDiv {
    display: none;
}
#mobileOnly {
    display: none;
}

@media only screen and (max-width: 400px) {
    .rulesBkg {
        background-color: white;
        background-image: url('./static/image-rules.svg');
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        left:0;
        top: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
    }
    .resultsWrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    #winLoseDiv {
        display: none;
    }
    #mobileWinLoseDiv {
        display: block;
    }
    #mobileOnly {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .resultsWrap #rock {
        padding: 15%;
    }
    .resultsWrap #paper {
        padding: 15%;
    }
    .resultsWrap #scissor {
        padding: 15%;
    }
    #rock {
        padding: 7.5%;
    }
    #paper {
        padding: 7.5%;
    }
    #scissor {
        padding: 7.5%;
    }
    .hand {
        padding: 1.5em;
    }
    .resultsWrap .playersChoice {
        display: none;
    }
    #mobileOnly .playersChoice{
        display: flex;
    }
    .resultsWrap .pcChoice {
        display: none;
    }
    #mobileOnly .pcChoice{
        display: flex;
    }
}